/* body {
    padding: 0;
    margin: 0;
    box-shadow: inset 0px 0px 5px 5px #ea00d9;
    border: 5px solid #ea00d9;
    background-color: #262626;
    FF1177
} */
body {
    padding: 0;
    margin: 0;
    box-shadow: inset 0px 0px 10px 0px #ea00d9;
    border: 3px solid #ea00d9;
    background:#111;
    color:white;
    background-image: 
      radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px;
}
.wrap-screen {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 99vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrap-screen .title {
    margin: 35px 0;
}
.wrap-screen .title span {
    color: #fff;
    font-family: 'pixel';
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    font-size: 80px;
}
.wrap-screen canvas {
    width: 1024px;
    height: 512px;
    background: #ffff;
}
.wrap-screen .bottom-disclaimer {
    position: absolute;
    bottom: 0;
    color: #11ff1d;
    font-family: 'pixel';
    font-size: 19px;
}
.wrap-screen #canvas-space {
    position: absolute;
    z-index: -9;
    width: 100%;
    height: 99%;
}
.wrap-screen .typing-effect {
    color: #11ff1d;
    position: absolute;
    top: 25px;
    left: 20px;
}
.nodisplay {
    display: none;
}
@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #11ff1d, 0 0 20px #11ff1d, 0 0 30px #11ff1d, 0 0 40px #11ff1d, 0 0 70px #11ff1d, 0 0 80px #11ff1d, 0 0 100px #11ff1d, 0 0 150px #11ff1d;
    }
    to {
        text-shadow: 0 0 5px #11ff1d, 0 0 10px #11ff1d, 0 0 15px #11ff1d, 0 0 20px #11ff1d, 0 0 35px #11ff1d, 0 0 40px #11ff1d, 0 0 50px #11ff1d, 0 0 75px #11ff1d;
    }
}

@font-face {
    font-family: "pixel";
    src: url("fonts/pixel.ttf") format("woff2");
}